html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#fddcbc, #ee7504);
    background-size: cover;
    min-height: 100%;
    justify-content: flex-start;
    text-align: center;
    font-family: "Sarah", sans-serif;
}

@font-face {
    font-family: "Sarah";
    src: url("fonts/Sarahsfont-Regular.ttf");
    font-weight: bold;
}

p {
  color: rgb(31, 8, 34);
  font-size: xxx-large;
}

.container {
    max-width: 100%;
    margin: 30px auto 0 auto;
}

#ghost-gif {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

button {
    border-radius: 8px;
    min-width: 100px;
    max-width: 550px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    white-space:nowrap;
    transition: transform 0.1s ease;
    font-family: "Sarah";

}

button:hover {
    scale: 1.05;
}

#yes_button {
    transform-origin: center top;
    color:white;
    background-color: #a55f9d;
    position: relative;
    left: 0; 
    top: 10%;
    transform: translateX(-90%); /* Centers the button on its left position */
    font-size: 2rem;
}

#no_button {
    color:white;
    background-color: #E77665;
    font-size: 2rem;
    left: 50%; 
    top: 53.85%;
    transform: translateX(-1%); /* Centers the button on its left position */
    position: absolute;
}

