html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#ffffff, #e08937);
    background-size: cover;
    min-height: 100%;
    justify-content: flex-start;
    text-align: center;
    font-family: cursive;
}

p {
  color: rgb(31, 8, 34);
  font-size: xx-large;
}

.container {
    max-width: 100%;
    margin: 30px auto 0 auto;
}

#ghost-gif {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

button {
    border-radius: 8px;
    min-width: 100px;
    max-width: 550px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    white-space:nowrap;
    transition: transform 0.1s ease;
}

.button:hover {
    scale: 1.05;
}


#yes_button {
    transform-origin: center top;
    color:white;
    background-color: #a55f9d;
}

#no_button {
    color:white;
    background-color: #E77665;
}

